.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}

.more-suggestions__icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.more-suggestions__icon-text {
  font-size: 16px;
  font-weight: bolder;
}

.more-suggestions__icon-image {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  border: var(--main-border);
  border-radius: 10px;
}
.more-suggestions__icon-image img {
  width: 70px;
}
