.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.find_point {
  background-color: red;
  display: flex;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 70px;
  bottom: 18px;
}

.more_point {
  background-color: red;
  display: flex;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 150px;
  bottom: 18px;
}
